@import "../../styles/partials/variables";
@import "../../styles//mixins/mixins";

.section_container {
    min-height: calc(100vh - 80px);
    padding: 1em;
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    .section_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    .section_title {
        font-size: 2em;
        color: $dark_color;
    }

    .section_subtitle {
        display: inline-block;
        color: $main_color;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .section_btn {
        @include btn_default;
        padding: 1em;
        border-radius: 1.5em;
    }

    .section_list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}
