@import "../../styles/partials/variables";

.section_container {
    padding: 1em;

    .section_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }

    .section_title {
        font-size: 2em;
        color: $dark_color;
    }

    .section_subtitle {
        display: inline-block;
        color: $main_color;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .section_btn {
        border: none;
        border-radius: 1em;
        background-color: $main_color;
        padding: 0.5em 1em;
        color: $light_color;
        font-weight: bold;
        font-size: 0.9em;
        cursor: pointer;
    }

    .section_list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}
