@import "../../../../styles/partials/variables";
@import "../../../../styles/mixins/mixins";

.details_img_container {
    max-height: calc(100vh - $header-height);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    .details_img {
        aspect-ratio: 2/3;
        width: 100%;
        max-width: 400px;
        background-color: $color-dark-1;
        border-radius: 1em;
        overflow: hidden;

        img {
            display: none;
            aspect-ratio: 2/3;
            width: 100%;
            align-items: center;
            justify-content: center;
            color: $color-light-1;
            font-style: italic;
        }
    }
}
