@import "../../../../styles/partials/variables";
@import "../../../../styles/mixins/mixins";

.details_img_container {
    max-height: calc(100vh - $header-height);
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    .details_img {
        width: 100%;
        max-width: 400px;
        aspect-ratio: 2/3;
        background-color: #ccc;
        border-radius: 1em;
        overflow: hidden;

        img {
            display: none;
            width: 100%;
            aspect-ratio: 2/3;
            align-items: center;
            justify-content: center;
        }
    }
}
