@import "../../../../styles/partials/variables";

.results_header {
    margin-bottom: 1.5em;

    .results_title {
        font-size: 1.2em;

        span {
            font-size: 1.2em;
            color: $color-main;
        }
    }
}
