@import "../../../../styles/mixins/mixins";

.pagination_container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;

    .page_number {
        font-weight: bold;
    }

    button {
        @include btn_default;
        background-color: $color-main;

        &:hover {
            background-color: $color-main-hover;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.2;

            &:hover {
                background-color: $color-main;
            }
        }
    }
}
