$color-main: #f04e4e;
$color-main-hover: #d41e24;
$color-secondary: #d4b96a;
$color-secondary-hover: #c2a14d;
$color-dark-1: #1e1a1a;
$color-dark-2: #3e3b3b;
$color-light-1: #f7f7f7;
$color-light-2: #e6e2e2;

$header-height: 68.8px;
