$color-main: #fc5757;
$color-main-dark: #521d1d;
$color-main-superdark: #140c0c;
$color-main-hover: #981819;
$color-secondary: #cbb673;
$color-dark-1: #141414;
$color-dark-2: #181a1a;
$color-light-1: #f5f7fa;
$color-light-2: #ebeff2;
$color-gray-1: #dadde0;

$header-height: 68.8px;
