$color-main: #db413b;
$color-main-dark: #5c1b19;
$color-main-superdark: #140c0c;
$color-main-hover: #9c2e2a;
$color-secondary: #bfa65c;
$color-secondary-hover: #a38e4e;
$color-dark-1: #141414;
$color-dark-2: #181a1a;
$color-light-1: #f5fbfc;
$color-light-2: #ebeff0;
$color-gray-1: #3d3a3a;
$color-gray-2: #524e4e;

$header-height: 68.8px;
