@import "../../styles/partials/variables";
@import "../../styles//mixins/mixins";

.results_container {
    @include container_default;
    padding: 2em;
    min-height: calc(100vh - $header-height);
    color: $color-light-1;
}

.results_body {
    .noResults_msg {
        font-size: 1.1em;
        text-align: center;
    }
}
