@import "../../styles/mixins/mixins";
@import "../../styles/partials/variables";

.loading_container {
    @include container_default;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 1.5em;
        font-weight: bold;
        color: $color-secondary;
    }
}
