@import "../../styles/mixins/mixins";
@import "../../styles/partials/variables";

.loading_container {
    height: calc(100vh - $header-height);
    display: flex;
    align-items: center;
    justify-content: center;

    .load_img {
        @include loading_animation;
        width: 50px;
        height: 50px;
        display: block;
    }
}
