.results_list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em 1.5em;
    width: 100%;
    padding: 1em;

    @media screen and (max-width: 480px) {
        padding: 1em 2em;
    }
}
