@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@200;400;700&display=swap");

@import "./partials/variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    background-color: $light-color;
}

body {
    padding-top: 79.6px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.container {
    width: 100vw;
    max-width: 1140px;
    margin: 0 auto;
}

.header-offScreen {
    position: fixed !important;
    top: 20px !important;
    z-index: 100 !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.header-show {
    transition: all 0.25s ease-in;
    top: 0 !important;
    visibility: visible !important;
    opacity: 1 !important;
}
