@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@200;400;700&display=swap");

@import "./partials/variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    background-color: $light-color;
}

body {
    padding-top: 79.6px;
    padding-bottom: 1000px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.container {
    width: 100vw;
    max-width: 1140px;
    margin: 0 auto;
}

.header-offScreen {
    position: fixed;
    top: 20px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}

.header-show {
    transition: all 0.25s ease-in;
    top: 0;
    visibility: visible;
    opacity: 1;
}
