@import "../../styles/partials/variables";

.card_container {
    background-color: $color-main;
    border-radius: 1em;
    color: $color-light-1;
    overflow: hidden;
    flex: 1 1 180px;
    max-width: 200px;
    transition: all 0.5s;

    &:hover {
        background-color: $color-main-hover;
    }

    @media screen and (max-width: 480px) {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .card_img {
        aspect-ratio: 2/3;
        width: 100%;

        img {
            aspect-ratio: 2/3;
            width: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    .date {
        display: block;
        padding: 0.75em 0;
        font-size: 0.9em;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1px;
    }
}
