@import "../../styles/partials/variables";
@import "../../styles/mixins/mixins";

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 1em 1em;
    background-color: $color-main;
    color: $color-light-1;

    a {
        color: inherit;
    }
}

.header_container {
    @include container_default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.logo {
    h1 {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.navbar {
    ul {
        display: flex;
        align-items: center;
    }

    a {
        padding: 0.5em;

        &:hover {
            transition: all 0.2s;
            color: $color-secondary;
        }
    }
}
