header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar a {
    text-decoration: none;
    padding: 0.5em;
}
