@import "../../styles/partials/variables";

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 1em 1em;
    background-color: $main-color;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: $dark-color;

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        color: inherit;

        a {
            color: inherit;
        }
    }
}

.navbar {
    ul {
        display: flex;
        align-items: center;
    }

    a {
        padding: 0.5em;
        color: $dark-color;

        &:hover {
            color: $light-color;
        }
    }
}
