@import "../../../../styles/mixins/mixins";
@import "../../../../styles/partials/variables";

.landing {
    width: 100%;
    height: calc(100vh - 68.8px);
    color: $color-light-1;
    background: url("../../../../assets/img/bg.png") no-repeat right top fixed
        $color-dark-1;
    background-size: cover;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-dark-2;
        opacity: 0.6;
        z-index: 2;
    }
}

.landing_container {
    @include container_default;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.greeting_container {
    color: $color-light-1;
    margin-bottom: 4em;
    z-index: 3;

    .greeting {
        font-weight: bold;
        margin-bottom: 1em;

        h2 {
            font-size: 3em;
            color: $color-secondary;
            text-transform: uppercase;
            letter-spacing: 7px;
        }
    }
}

.search_form {
    z-index: 3;

    .search_input {
        width: 100%;
        max-width: 540px;
        border-radius: 2em;
        overflow: hidden;
        position: relative;

        input {
            width: 100%;
            border: none;
            padding: 0.75em 110px 0.75em 1.25em;
            background-color: $color-light-1;
            color: $color-dark-1;
        }

        button {
            @include btn_default;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            color: $color-dark-3;
            font-size: 1em;
            background-color: $color-secondary;
            border-radius: 2em;

            &:hover {
                background-color: $color-secondary-hover;
            }
        }
    }
}
