@import "../../styles/partials/variables";

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-dark-1;
    padding: 2em;
    border-radius: 7em 7em 0 0;
    color: $color-light-1;

    @media screen and (max-width: 480px) {
        border-radius: 3em 3em 0 0;
    }

    a {
        color: inherit;
    }

    .footer_title {
        margin-bottom: 1em;
        font-size: 1.1em;
    }

    .credits_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2em;
    }
}
