@import "../../styles/partials/variables";

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-dark-1;
    padding: 2em;
    border-radius: 7em 7em 0 0;
    color: $color-light-1;

    @media screen and (max-width: 480px) {
        border-radius: 3em 3em 0 0;
    }

    a {
        color: inherit;
    }

    .title {
        margin-bottom: 1em;
        font-size: 1.1em;
    }

    .credits {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2em;
    }

    .credits_item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            background-color: #0d253f;
            padding: 1em;
            border-radius: 1em;
            margin-bottom: 8px;

            @media screen and (max-width: 480px) {
                width: 75px;
                height: 75px;
            }
        }
    }
}
