@import "../../styles/partials/variables";
@import "../../styles/mixins/mixins";

.details_area {
    min-height: calc(100vh - $header-height);
}

.details_container {
    @include container_default;
    min-height: calc(100vh - $header-height);
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;

    > * {
        flex: 1 1 400px;
    }
}
