@import "../partials/variables";

@mixin btn_default {
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: $color-main;
    color: $color-light-1;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: $color-main-hover;
    }
}

@mixin container_default {
    width: 100vw;
    max-width: 1140px;
    margin: 0 auto;
}

@mixin loading_animation {
    @keyframes loading_animation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    animation: loading_animation 2s linear infinite;
}
